/* Header.module.css */
.header {
    background-color: #6e6e6e;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: center;
    }

  }
  