.card_container {
  line-height: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.main_card_Section {
  background-color: red;
}
.card_Section {
  width: 100%;
  background-color: rgb(38, 169, 209);
  display: flex;
}
.main_card_page {
  margin: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 50rem;
  background-color: rgb(121, 232, 247);
  border-radius: 1rem;
  box-shadow: 2px 0px 5px 0.5px rgb(129, 127, 127);
}
.card_items_details {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card_button_items {
  gap: 9px;
  display: flex;
  flex-direction: column;
}
.card_button1 {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
}
.card_button2 {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
}
.card_ex {
  display: flex;
}
