.card_container {
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0rem 1.5rem;
}

.main_card_page {
  margin: 2rem;
  padding: 1rem;
  width: 25rem;
  height: 38rem;
  background-color: rgb(161, 244, 255);
  border-radius: 1rem;
  box-shadow: 2px 0px 5px 0.5px rgb(129, 127, 127);
  transition: all 1s ease-out;
}
.main_card_page:hover {
  background-color: rgb(30, 143, 158);
  cursor: pointer;
  transform: scale(1.05);
  animation: scale-3 0.8s ease-in;
  box-shadow: 2px 0px 5px 0.5px rgb(129, 127, 127);
}
.card_discription {
  font-size: 0.7rem;
}
.card_button_view{
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  align-items: center;
  text-align: center;
}
.card_items_role{
  text-transform: uppercase;
  /* font-weight: ; */
  font-weight:bold;
}
.card_items_details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card_items {
  position: relative; /* Add this line */
}

.card_button_items {
  position: absolute;
  /* bottom: 10rem; */
  top:30rem ;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
}
.card_button_easy {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(23, 173, 193);
  font-weight: bold;
  font-size: medium;
}
.card_button_refral {
  width: 100%;
  padding: 0.7rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: medium;
}
