.card_container {
  width: 100%;
  line-height: 1.5rem;
}
.main_card_page {
  margin: 2rem;
  padding: 1rem;
  max-width: 25rem;
  min-width: 20rem;
  height: auto;
  background-color: rgb(242, 244, 244);
  border-radius: 1rem;
  transition: all 3s;
}

.main_card_page:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 1s ease-in-out;
  box-shadow: 2px 0px 10px 0.5px rgb(129, 127, 127);
}

.card_discription {
  margin: 18px 0px;
  font-size: 0.8rem;
}

.card_button_view {
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  color: blue;
}

.card_items {
  position: relative;
}

.card_button_items {
  position: absolute;
  /* bottom: 10rem; */
  top: 1rem;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.card_button_easy {
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(89, 88, 88);
  color: white;
  cursor: pointer;

}
.card_button_easy:hover {
  transform: scale(1.05);
  transition: all 1s ease-out;
}
