* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* uitilies classes  */
.flex {
  display: flex;
}
.flex-centred {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.shadow{
  box-shadow: 0px 0px 6px 0.5px rgb(129, 127, 127);
}
.font{
  font-weight: bold;
  text-transform: capitalize;
}
.field{
outline: none;
border: none;
}
.span{
  font-weight: 400;
}
.text{
  font-size: small;
}